@charset 'UTF-8';

/* partials */
@import 'partials/variable';
@import 'partials/mixin';

/* basic */
@import './base.scss';
@import './font.scss';

/* style */
@import './component.scss';
@import './component_resp.scss';