@charset 'UTF-8';
/* table */
@media (max-width:1024px) {
	body {
		font-size: 14px;
	}
	.contact-link.mail {
		i {
			display: none;
		}
	}
	.contact-link.tel {
		i {
			width: auto;
			height: auto;
			line-height: inherit;
		}
	}
	.contact-link {
		span {
			opacity: 1;
			border: 0;
			height: auto;
			line-height: inherit;
		}
		margin: 10px 15px 0 0;
		width: auto;
		font-size: 14px;
		height: auto;
		line-height: inherit;
		&:hover {
			width: auto;
		}
	}
	.breadcrumbs {
		display: none;
	}
	.nav-area {
		display: none;
	}
	.visual-area {
		.visual-sub {
			height: 23vw;
			min-height: 200px;
			font-size: 30px;
		}
		.visual-inner {
			height: 100%;
		}
	}
	.sub-area {
		padding: 40px 25px;
		.article {
			float: none;
			width: 100%;
			padding: 0;
		}
		.article-txt {
			margin-top: 20px;
		}
	}
	.sub-tit {
		font-size: 25px;
		font-weight: 700;
	}
	.sub-tit-area {
		margin-bottom: 20px;
	}
	.only-pc {
		display: none !important;
	}
	.cont-grid {
		padding: 35px 25px;
	}
	.cont-inner {
		margin-top: 45px;
	}
	.btn-area {
		margin: 25px 0 0;
	}
	.tit-d1 {
		font-size: 40px;
	}
	.tit-d2 {
		font-size: 20px;
		margin-bottom: 20px;
	}
	.tit-d3 {
		font-size: 16px;
		margin-bottom: 15px;
	}
	.br {
		display: none;
	}
	.btn-base {
		height: 40px;
		padding: 0 20px;
		line-height: 36px;
		.ico-arr {
			transform: scale(0.7);
			margin-top: -6px;
		}
	}
	.btn-close {
		width: 40px;
		height: 40px;
	}
	.tag-new {
		font-size: 12px;
	}
	.header-area {
		height: 70px;
		overflow: visible;
		.header-inner {
			height: 70px;
		}
		&:after {
			top: 68px;
		}
		.gnb-area {
			display: block;
			float: none;
			position: fixed;
			padding: 70px 0 20px;
			margin: 0;
			top: 0;
			left: -100%;
			background: #fff;
			width: 100%;
			height: 100%;
			transition: all ease-in-out .35s;
		}
		.logo {
			z-index: 2;
			position: absolute;
			left: 15px;
			top: 50%;
			transform: translateY(-50%);
			margin: 0;
		}
		.btn-menu {
			z-index: 2;
			display: block;
			position: absolute;
			top: 19px;
			right: 15px;
		}
	}
	.header-area.open {
		.gnb-area {
			left: 0;
		}
		&:after {
			opacity: 0;
		}
		z-index: 20;
		.btn-menu {
			&:after {
				background: #000;
				transform: rotate(-45deg);
				top: 14px;
				left: 2px;
			}
			&:before {
				background: #000;
				transform: rotate(45deg);
				top: 14px;
				left: 2px;
			}
			span {
				background: #000;
				width: 0;
			}
		}
	}
	.header-util {
		position: static;
		flex: 0 0 100%;
		display: block;
		padding: 10px 15px 15px;
		border-top: 1px solid #e8e7e7;
		>span {
			display: inline;
		}
	}
	.logo {
		img {
			width: 130px;
			height: auto;
		}
	}
	.gnb-area {
		.nav-d1 {
			a {
				display: block;
				height: 50px;
				line-height: 52px;
				padding: 0 15px;
				border-bottom: 1px solid #e8e7e7;
				overflow: hidden;
				align-items: center;
			}
		}
	}
	.nav-d1 {
		position: relative;
		flex: 0 0 100%;
		height: calc(100% - 39px);
		padding: 0;
		overflow-y: auto;
		font-size: 20px;
		>p {
			display: block;
			position: absolute;
			top: 50%;
			left: 0;
			width: 100%;
			transform: translateY(-50%);
			color: #999;
			text-align: center;
			span {
				border-bottom: 1px solid #999;
				font-weight: 300;
			}
		}
		>li {
			display: block;
			margin: 0;
			color: #000;
			font-size: 20px;
			text-align: left;
			>a {
				&:hover {
					color: inherit;
				}
				&:focus {
					color: inherit;
				}
				position: relative;
				font-size: 16px;
				font-weight: 700;
				background: #f8f9fa;
				&:after {
					position: absolute;
					right: 15px;
					top: 15px;
					display: block;
					width: 10px;
					height: 10px;
					border-top: 1px solid #454545;
					border-right: 1px solid #454545;
					margin: 2px 4px 0 0;
					transform: rotate(135deg);
					content: "";
				}
				&:only-child {
					&:after {
						display: none;
					}
				}
			}
			&:hover {
				>a {
					color: inherit;
				}
			}
			&:focus {
				>a {
					color: inherit;
				}
			}
		}
		>li.on {
			>a {
				background: #507BD6;
				color: #fff;
				&:after {
					border-color: #fff;
					margin-top: 8px;
					transform: rotate(-45deg);
				}
			}
			.nav-d2 {
				display: block;
			}
		}
	}
	.nav-d2 {
		display: none;
		position: static;
		width: 100%;
		margin: 0;
		text-align: left;
		>li {
			margin: 0;
			a {
				font-size: 15px;
				font-weight: 400;
			}
		}
	}
	.tbl-base {
		th {
			padding: 10px;
			font-size: 16px;
		}
		td {
			padding: 10px;
			font-size: 16px;
		}
	}
	.tbl-scroll {
		width: 100%;
		overflow-x: auto;
		>table {
			width: auto;
		}
	}
	.paging-area {
		margin-top: 30px;
	}
	.paging-link {
		display: none;
	}
	.paging-fraction {
		display: inline-block;
		height: 35px;
		margin: 0 5px;
		vertical-align: middle;
		line-height: 35px;
		font-size: 20px;
		text-align: center;
		i {
			margin: 0 3px;
		}
		.current {
			color: #f79433;
		}
	}
	.visual-area.main {
		height: 45vh;
		.tit-area {
			padding: 0 30px;
			top: 50%;
			transform: translateY(-50%);
		}
	}
	.slider-pagination.type-num {
		bottom: 5%;
		a {
			font-size: 16px;
		}
	}
	.article {
		.tit-area {
			&:first-child {
				padding-top: 23px;
			}
			margin: 80px 0 25px;
		}
		.btn-area.upper {
			top: 28px;
		}
		.tit-area.pdr-s {
			>p {
				margin-right: -195px;
			}
		}
	}
	.bbs-list {
		li {
			a {
				font-size: 15px;
			}
		}
	}
	.article-item {
		.thumb {
			float: none;
			width: 100%;
			padding-top: 56.8%;
			height: 0;
		}
		.desc {
			float: none;
			white-space: pre-wrap;
			max-height: 2.8em;
			height: auto;
			display: -webkit-box;
			text-overflow: ellipsis;
			overflow: hidden;
			line-clamp: 2;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			line-height: 1.4em;
			width: 100%;
			margin: 15px 0 0;
			padding: 0;
			font-size: 14px;
			line-height: 1.4em;
		}
	}
	.footer-area {
		.info {
			float: none;
			width: auto;
		}
		.app-area {
			float: none;
			margin-top: 40px;
			white-space: normal;
			text-align: left;
		}
	}
	.app-list {
		>li {
			margin: 10px 5px;
			zoom: 0.8;
		}
	}
}
/* tablet & mobile */
@media (max-width:765px) {
	.inp {
		height: 40px;
		min-height: 40px;
		line-height: 42px;
	}
	.selectbox {
		height: 40px;
		min-height: 40px;
	}
	.btn-base.size-xl {
		height: 45px;
		line-height: 41px;
		font-size: 14px;
	}
	.btn-base.size-l {
		height: 40px;
		line-height: 40px;
	}
	.lb-rdo {
		font-size: 12px;
	}
	.lb-chk {
		font-size: 12px;
		&:before {
			zoom: 0.8;
		}
	}
}
/* mobile */
@media (max-width:500px) {
	.page-util {
		.inner {
			padding: 20px 10px;
		}
	}
	.btn-top {
		zoom: .9;
	}
	.form-area.type-tel {
		.telnum {
			white-space: normal;
			.inp-area {
				width: 100%;
				padding: 0;
				.count {
					right: 15px;
				}
			}
			.btns {
				width: 100%;
				margin-top: 15px;
			}
		}
	}
	.tbl-base {
		th {
			font-size: 14px;
		}
		td {
			font-size: 14px;
		}
	}
	.tit-d1 {
		font-size: 26px;
	}
	.tit-sub {
		font-size: 20px;
	}
	.slider-visual {
		.slick-arrow {
			zoom: 0.6;
		}
	}
	.btn-base {
		.ico-arr {
			margin-left: -2px;
			margin-right: -8px;
		}
		font-size: 14px;
	}
	.btn-base.secondary {
		font-size: 14px;
	}
	.btn-base.size-xs {
		font-size: 12px;
		margin-top: -7px;
		margin-left: 5px;
	}
	p.bul-dot {
		font-size: 14px;
		padding-left: 10px;
		&:before {
			width: 3px;
			height: 3px;
			margin: -2px 4px 0 -8px;
		}
	}
	ul.bul-dot {
		>li {
			font-size: 14px;
			padding-left: 10px;
			&:before {
				width: 3px;
				height: 3px;
				margin: -2px 4px 0 -8px;
			}
		}
	}
	.bbs-list {
		>li {
			margin-top: 10px;
		}
	}
	.article-item {
		.desc {
			font-size: 15px;
		}
	}
	.footer-area {
		.footer-grid {
			display: block;
		}
		.logo {
			display: block;
		}
		.address {
			display: block;
			padding: 0;
		}
	}
	.link-list {
		margin: 0;
		.link-visual {
			width: 100%;
			margin: 15px 0 0;
			&:first-child {
				margin: 0;
			}
		}
	}
	.article {
		padding: 0 0 25px;
		.tit-area {
			margin: 60px 0 20px;
		}
		.tit-area.pdr-s {
			padding-right: 0;
			>p {
				margin-right: 0;
			}
		}
		.btn-area.upper {
			position: static;
			font-size: 0;
			margin: 25px -3px 0;
			text-align: center;
		}
		.img-area {
			margin-top: 20px;
		}
		.btn-area {
			.btn-base {
				margin: 0 3px;
			}
		}
		.btn-area.col2 {
			.btn-base {
				width: calc(50% - 6px);
				padding: 0;
			}
		}
	}
}
